{% extends 'app_fb_questionnaire/base.html' %} 
{% block content %}

<div class="row my-3">
  <div class="col-md">
    <h3>
      {{ question_set_name }}
    </h3>
    <span class="font-italic">
      After you had answered all questions, the FB log-in button will be appeared.
    </span>    
  </div>
</div>

<div class="row my-3">
  <div class="col-md">
  
    <form id="form-question" method="POST" action="{% url 'questionnaire-save' %}">
      {% csrf_token %}

      <input type="hidden" name="question_set_id" value="{{ question_set_id }}" />
      <input type="hidden" name="fb_user_id" id="fb_user_id" value="" />
      <input type="hidden" name="fb_user_name" id="fb_user_name" value="" />
      <input type="hidden" name="ref_fb_user_id" id="ref_fb_user_id" value="{{ fb_user_id }}" />
      
      {% for obj in qs %}

        <label class="form-control-label">{{ forloop.counter }}.{{ obj.question }}</label> 

        {% for c in obj.choices %}
        <div class="form-check">
          <label class="custom-control custom-radio">        
            <input class="custom-control-input" type="radio" name="choice_{{ obj.question_set_item_id }}" value="{{ c.question_choice_id }}" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
              {{ c.question_choice_name }}
            </span>
          </label>
        </div>    
        {% endfor %} 

        <hr />

      {% endfor %}  

    </form>

  </div>
</div>

<div class="row my-5 text-center">
  <div class="col-md">
    <div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();" data-max-rows="1" data-size="medium"
      data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
  </div>
</div>



{% endblock %} 

{% block scripts %}

<script>
  
  window.onload = function(evt) {  
    $(".fb-login-button").hide();  
    checkFBLoginButton();
  }

  onFormWatch();
  
  function onFormWatch() {
    
    $("#form-question").change(function() {

      checkFBLoginButton();
      
    });
  }

  function checkFBLoginButton() {
    var isValid = document.getElementById('form-question').checkValidity();
    if (isValid === true) {
      // Show FB login button
      $(".fb-login-button").show(500);      
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function (response) {
      statusChangeCallback(response);
    });
  }

  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      // Logged into your app and Facebook.   
      getUserProfile()
      // Submit form
      
    } else {
      alert("Not log in")
    }
  }

  function getUserProfile() {
    FB.api(`/me`, {
      fields: "email,picture,age_range,cover,devices,gender,first_name,last_name,middle_name,name,meeting_for,political,relationship_status,timezone,link,locale,location,languages"
    }, function (res) {
      console.log("RES:", res);
      $('#fb_user_id').attr('value', res.id)
      $('#fb_user_name').attr('value', res.name)
      $('#form-question').submit()
    });
  }

  function fbLogout() {
    FB.logout(function (response) {
      // Person is now logged out
      window.location = "/"
    });
  }
</script>
{% endblock %}