{% extends 'app_fb_questionnaire/base.html' %}
{% load static %}

{% block content %}

    <h2>
        Share this with your friends !!!
    </h2>    

    <img src="{% static 'share_result.png' %}"

    <div class="fb-share-button" 
        data-href="{{ share_link }}" 
        data-layout="button" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" 
            target="_blank" 
            href="https://www.facebook.com/sharer/sharer.php?u={{ share_link }}&amp;src=sdkpreparse">
            Share
        </a>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}